<!--(Brasil, Argentina, Bolivia, Chile, Colombia, Ecuador, Paraguay, Perú, Uruguay y Venezuela)-->

<h1>Equipos</h1>
<div class="container"> 
<div class="row"> 
<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/argentina.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/bolivia.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href='@Url.Action("VerJugadoresEquipo","BOLIVIA")' class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/brasil.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/chile.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/ecuador.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/paraguay.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/peru.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/uruguay.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

<div class="card col-12 col-md-4" style="width: 18rem;">
  <img src="/imagenes/venezuela.png" class="card-img-top" alt="...">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Ver Jugadores</a>
  </div>
</div>

 </div>
  </div>